# --- Python ---
__pycache__/
*.py[cod]
.pytest_cache/.

# -- Virtual envoronment --
.venv/
venv/
env/
.env

# -- IDE --
.vscode/

# -- macOS --
.DS_Store

# -- Linux --
*~

# -- Docker --
*.pid
*.pid.lock

# -- Coverage pytest --
.coverage
